body {
  font-family: 'Gilroy', 'sans-serif';
}

p, span {
  font-size: 16px;
}

.container-1920 {
  max-width: 1920px;
  margin: 0 auto;
}

.content {
  height: 500px;
}

@media(max-width: 811px) {
  p, span {
    font-size: 14px;
  }
}